/* Error: Undefined mixin.
 *    ,
 * 28 | /       @include respond(phone){
 * 29 | |         letter-spacing: 1rem;
 * 30 | |         font-size: 5rem;
 * 31 | \       }
 *    '
 *   sass/base/_typography.scss 28:7  @import
 *   sass/main.scss 7:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 28 \2502  \250c        @include respond(phone){\a 29 \2502  \2502          letter-spacing: 1rem;\a 30 \2502  \2502          font-size: 5rem;\a 31 \2502  \2514        }\a    \2575 \a   sass/base/_typography.scss 28:7  @import\a   sass/main.scss 7:9               root stylesheet";
}
