/* Error: Undefined operation "phone/16px * 1em".
 *    ,
 * 21 |     @media (max-width: (($breakpoint / 16px) * 1em)){@content};
 *    |                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/abstracts/_mixins.scss 21:25  respondMax()
 *   sass/base/_base.scss 13:3          @import
 *   sass/main.scss 6:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "phone/16px * 1em".\a    \2577 \a 21 \2502      @media (max-width: (($breakpoint / 16px) * 1em)){@content};\a    \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/abstracts/_mixins.scss 21:25  respondMax()\a   sass/base/_base.scss 13:3          @import\a   sass/main.scss 6:9                 root stylesheet';
}
