/* Error: $number: Expected 3.125%/px to have no units.
 *    ,
 * 17 |     @return percentage(calc($pixels / 16px));
 *    |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/abstracts/_mixins.scss 17:13  base-font-size()
 *   sass/base/_base.scss 14:16         @content
 *   sass/abstracts/_mixins.scss 21:62  respondMax()
 *   sass/base/_base.scss 13:3          @import
 *   sass/main.scss 6:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $number: Expected 3.125%/px to have no units.\a    \2577 \a 17 \2502      @return percentage(calc($pixels / 16px));\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/abstracts/_mixins.scss 17:13  base-font-size()\a   sass/base/_base.scss 14:16         @content\a   sass/abstracts/_mixins.scss 21:62  respondMax()\a   sass/base/_base.scss 13:3          @import\a   sass/main.scss 6:9                 root stylesheet";
}
