@mixin clearfix{
    &::after{
        content: '';
        display: table;
        clear:both;
    }
}

@mixin centerHorizVerti{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

//Media queries
@mixin respond-phone {
    @media (max-width: 600px){
        @content
    };
}

@mixin respondMax($breakpoint){
    @media (max-width: calc(calc($breakpoint / 16px) * 1em)){@content};
}
@mixin respondMin($breakpoint){
    @media (min-width: calc(calc($breakpoint / 16px) * 1em)){@content};
}