@mixin clearfix{
    &::after{
        content: '';
        display: table;
        clear:both;
    }
}

@mixin centerHorizVerti{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

//Media queries

/*
0 - 600px           Phone
600px - 800px       Tablet Portrait
800px - 900px       Tablet Landscape
900px - 1200px      Regular Desktop
1200
*/