@mixin clearfix{
    &::after{
        content: '';
        display: table;
        clear:both;
    }
}

@mixin centerHorizVerti{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

//Media queries
@function base-font-size($pixels) {
    @return percentage(calc($pixels / 16px));
}

@mixin respondMax($breakpoint){
    @media (max-width: calc(calc($breakpoint / 16px) * 1em)){@content};
}
@mixin respondMin($breakpoint){
    @media (min-width: calc(calc($breakpoint / 16px) * 1em)){@content};
}