//////////////////////////
//Colors

$color-primary :rgb(9, 198, 249);
$color-primary-light: rgb(6, 137, 173);
$color-primary-dark : rgb(4, 93, 233);

$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-black: #000;
$color-grey: #777;


//////////////////////////
//////////////////////////
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//////////////////////////
//////////////////////////
//FONT
$default-font-size: 1.6rem;