.card{
    //functionality
    perspective:150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    //card shape and design
    &__side{
        color: #fff;
        font-size: 5rem;
        height: 50rem;
        transition: all .8s ease;

        position:absolute;
        top:0;
        left:0;
        width: 100%;

        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem $color-black-shadow1;

        //card front side
        &--front{
            background-color: $color-white;
        }
        //card back side
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(
                to right bottom,
                $color-secondary-light,$color-secondary-dark);
            }
        }
    }

    

    //rotating card
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }&:hover &__side--back{
        transform: rotateY(0deg);
    }

    //Front side styling
    &__picture{
        background-size: cover;
        background-blend-mode:screen;
        height: 23rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1{
            background-image:linear-gradient(
                to right bottom,
                $color-secondary-light,$color-secondary-dark), url(../img/pic-5.avif);
        }
    }
}