*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
 
html {
  //This defines what 1rem is
  font-size: 62.5%;

  @include respondMax(phone){
    font-size: 50%;
  }
  @include respondMax(tablet-portrait){
    font-size: 60%;
  }
  @include respondMax(tablet-landscape){
    font-size: 70%;
  }
  @include respondMax(big-desktop){
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}